*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
img{
	padding: 0;
	max-width: 100px;
	box-sizing: border-box;
    max-height: 100px;
}
nav{
	margin: auto;
	width: 800px;
	height: 100px;
}
.topNav{
	background-color: #fff;
	font-size: 14px;
	margin-top: 40px;
}
.topNav a{
	color: #000;
	text-align: center;
	padding: 14px 16px;
}
.topNav a:hover{
	border-bottom: 2px solid #000;	
}
.topNav .icon{
	display: none;
}
@media screen and(max-width: 768px){
	.topNav a:not(:first-child){
		display: none;
	}
	.topNav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #000;
	}
	nav{
		width: 100%;
		height: 100px;
	}
	.topNav .responsive{
		position: relative;
	}
	.topNav .responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.
	.topNav .responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}