*{
	margin: 0;
	padding: 0;
}
.header{
	text-decoration: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
nav{
	margin: auto;
	width: 79%;
	height: 10%;
	margin-left: 25%;
	display: flex;
}
.trans{
	margin-top: 30px;
	font-size: 40px;
	width: 60%;
	height: 30%;
	position: relative;
}
.trrans{
	float: left;
	clear: left;
	height: 80px;
	width: 20%;
	position: absolute;
	margin-top: 12%;
}
.gexabyte_logo{
	float: right;
	margin-top: 40px;
	position: absolute;

}
.text{
	margin-top: 20px;
	width: 60%;
	display: flex;
	height: 100%;
	background: url(image/background01010.svg);
	background-size: 50%;
	background-repeat: no-repeat;
}
.last{
	margin-top: 30px;
	position: relative;
	margin-left: 5%;
	width: 100%;
	padding-bottom: 8%;
}
.havee{
	margin-top: 20%;
	background: #19B7BB;
	padding: 10px;
	width: 13%;
	position: absolute;
	display: flex;
	border-radius: 10px;
}
.have{
	color: #fff;
}
.his{
	margin-left: 15%;
	background: #fff;
	padding: 10px;
	width: 10%;
	position: absolute;
	display: flex;
	margin-top: 20%;
	border-radius: 10px;
}
.mainpage{
	width: 90%;
	background: rgba(229, 229, 229, 0.7);
	padding-left: 2%; 
	padding-top: 2%;
	margin-top: 2%;
	margin-left: 4%;
	border-radius: 30px;
	height: 100%;
}
.logo{
	width: 23%;
	display: inline-block;
	position: absolute;
}
.topNav{
	margin-left: 20px;
	font-size: 15px;
	margin-top: 40px;
	display: inline-block;
}
.topNav a{
	color: #000;
	text-align: center;
	padding: 0px 10px;
}
.topNav a:hover{
	border-bottom: 2px solid #000;	
}
.topNav .icon{
	display: none;
}
@media screen and(max-width: 768px){
	.topNav a:not(:first-child){
		display: none;
	}
	.topNav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #000;
	}
	nav{
		width: 100%;
		height: 100px;
	}
	.topNav .responsive{
		position: relative;
	}
	.topNav .responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.
	.topNav .responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}