*{
	margin: 0;
	padding: 0;
}
.header{
	text-decoration: none;
}
body{
	font-family: 'Raleway', sans-serif;
}
nav{
	margin: auto;
	width: 100%;
	height: 10%;
	margin-left: 25%;
	display: inline-block;
}
.trans{
	font-size: 40px;
	width: 60%;
}
.trrans{
	width: 56%;
}
.text{
	width: 56%;
	display: inline-block;
	height: 400px;
}
.last{
	align-content: right;
	margin-right: 0px;
	padding-right: 0px;
	margin-left: 70%;
	width: 44%;
	margin-top: 0px;
	padding-top: 0px;
}
.havee{
	margin-top: 30px;
	background: #19B7BB;
	padding: 10px;
	width: 27%;
	position: relative;
	display: inline-block;
}
.have{
	color: #fff;
}
.his{
	margin-left: 3%;
	background: #fff;
	padding: 10px;
	width: 23%;
	position: relative;
	display: inline-block;
}
.mainpage{
	width: 90%;
	height: 90%;
	background: #E5E5E5;
	padding-left: 2%; 
	padding-top: 2%;
	margin-top: 2%;
	margin-left: 4%;
	opacity: 60%;
}
.logo{
	width: 23%;
		display: inline-block;

}
.gexabyte_logo{
	top: 0,24%;
	bottom: 0%;
	opacity: 100%;


}

.topNav{
	font-size: 20px;
	margin-top: 40px;
	display: inline-block;
}
.topNav a{
	color: #000;
	text-align: center;
	padding: 10px 10px;
}
.topNav a:hover{
	border-bottom: 2px solid #000;	
}
.topNav .icon{
	display: none;
}
@media screen and(max-width: 768px){
	.topNav a:not(:first-child){
		display: none;
	}
	.topNav a.icon{
		float: right;
		margin-top: -17px;
		display: block;
		color: #000;
	}
	nav{
		width: 100%;
		height: 100px;
	}
	.topNav .responsive{
		position: relative;
	}
	.topNav .responsive a.icon{
		position: absolute;
		right: 0;
		top: 0;
	}
	.
	.topNav .responsive a{
		float: none;
		display: block;
		text-align: left;
	}
}